### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing/
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### VS Code ###
.vscode/

### Java ###
*.class
*.log
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### OS ###
.DS_Store
Thumbs.db
desktop.ini

### Spring Boot ###
**/application-*.properties
**/application-*.yml
!application.properties
!application.yml
logs/